<header class="header">
  <div class="container">
    <div class="logo">

    </div>
    <nav class="nav">
      <ul>
        <li>
          <a href="index.html">
            Главная
          </a>
        </li>
        <li>
          <a href="#">
            Получить штрих код
          </a>
        </li>
        <li>
          <a href="#">
            Технологии авт. идент
          </a>
        </li>
        <li>
          <a href="#">
            Стандартизация
          </a>
        </li>
        <li>
          <a href="#">
            Вопрос-ответ
          </a>
        </li>
        <li>
          <a href="#">
            Контакты
          </a>
        </li>
        <li>
          <a href="#">
            Для клиентов
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
